* {
  margin: 0;
  padding: 0;
  font-family: 'montserrat', sans-serif;
  box-sizing: border-box;
  list-style: none;
}

body {
  background: url(../img/background.jpg) no-repeat;
  background: cover;
}

.business-card {
  width: 500px;
  height: 280px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.front, .back {
  width: 100%;
  height: 100%;  
  overflow: hidden;
  position: absolute;
  backface-visibility: hidden;  
}

.front {
  background: #fff;
  padding: 40px;  
}

.front::before, .front::after {
  content: "";
  position: absolute;
  right: 0;
}

/* Triângulo Maior */
.front::before {
  background: #f1c40f;
  width: 80px;
  height: 120px;
  bottom: 0;
  clip-path: polygon(0 100%, 40% 0, 100% 100%);
}

/* Triângulo Menor */
.front::after {
  background: #f39c12;
  width: 100px;
  height: 100%;
  top: 0;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 80% 100%);
}