* {
  margin: 0;
  padding: 0;
  font-family: "montserrat", sans-serif;
  box-sizing: border-box;
  list-style: none;
} 

body {
  /* background: url(../img/background.jpg) repeat;   */
  background: #192734; /* #16223e */
}

.business-card {
  width: 500px;
  height: 280px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.front, .back {
  width: 95%;
  height: 100%;  
  border-radius: 2px;
  overflow: hidden;
  position: absolute;
  backface-visibility: hidden;
  transition: transform 0.5s linear;
  border-radius: .5rem;
  /* border: 1px solid white; */
  box-shadow: 0px 0px 10px cornflowerblue;
  cursor: pointer;
}

.front {
  background: rgba(255, 255, 255, .95);
  padding: 40px;
  transform: perspective(600px) rotateX(180deg)
}

.front::before, .front::after {
  content: "";
  position: absolute;
  right: 0;
}

/* Triângulo Maior */
.front::before {
  background: #2c3e50;
  width: 80px;
  height: 120px;
  bottom: 0;
  clip-path: polygon(0 100%, 40% 0, 100% 100%);
}

/* Triângulo Menor */
.front::after {
  background: #172c42;
  width: 100px;
  height: 100%;
  top: 0;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 80% 100%)
}

.back {
  background: #1d2f40;
  display: flex;
  align-items: center;
  justify-content: center;  
  transform: perspective(600px) rotateX(0deg)
}

.back img {
  width: 260px
}

.front h2 {
  /* text-transform: uppercase; */
}

.front span {
  background: #34495e;
  color: #fff;
  padding: 4px 10px;
  display: inline-block;
  margin-top: 3px;
  margin-bottom: 20px;
  font-size: 14px;
}

.front .contact-info li {
  margin: 10px 0;
  display: flex; 
  align-items: center;  
}

.front .contact-info li i {
  width: 26px;
  height: 26px;
  background: #34485e;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;  
  border-radius: .2rem;
}

.business-card-click .front {
  transform: perspective(600px) rotateY(0deg);
}

.business-card-click .back {
  transform: perspective(600px) rotateX(-180deg)
}


/* Efeito virar o cartão com hover 

  .business-card:hover .front {
    transform: perspective(600px) rotateY(0deg);
  }

  .business-card:hover .back {
    transform: perspective(600px) rotateX(-180deg)
  }
*/


@media (max-width: 425px) {
  .front, .back {
    width: 61%;
    height: 60%;
    left: 98px;
  }

  .back img {
    width: 170px;
  }

  .front {
    padding: 21px;
  }

  .front::before {
    width: 46px;
    height: 74px
  }

  .front::after {
    width: 59px;
  }
   
  .front h2 {
    font-size: .95rem;
  }

  .front span {
    font-size: .65rem;
    padding: 4px 6px;
    margin-bottom: 10px;
  }

  .front .contact-info li {
    font-size: .75rem;
    margin: 5px 0;
  }

  .front .contact-info li i {
    width: 20px;
    height: 20px;
  }

  .front .contact-info li i::before {
    font-size: .75rem;
  }
}